<!doctype html>
<html>

<head>
	<title>Login</title>
</head>

<body>
	<form method="post">
	<p>
		<label for="username" class="col-sm-4 col-form-label">Email</label>
		<input type="email" placeholder="example@email.com" class="form-control" id="username" name="username" required
			autofocus>
	</p>
	<p>
		<label for="password" class="col-sm-4 col-form-label">Password</label>
		<input type="password" id="password" name="password" class="form-control" placeholder="password" required>
	</p>
	<p>
		<label>Not a member?</label>
		<a href="/create">Sign Up</a>
	</p>

	<button type="submit" class="btn  btn-lg btn-info btn-block">Sign in</button>
	</form>
</body>

</html>